rm_simulation/pb_rm_simulation/meshes/RMUC2024_world/meshes/RMUC_2024.stl filter=lfs diff=lfs merge=lfs -text
rm_simulation/pb_rm_simulation/meshes/RMUC2024_world/meshes/RMUL_2024.stl filter=lfs diff=lfs merge=lfs -text
